<div id="header">
	<img class="center" src="/cats.png">
</div>
	
<div id="body">
	<a href="/calibration/0">
	<img class="center" src="/circle-0.png">
	</a>
</div>
<div id="body">
	<a href="/calibration/200">
	<img class="center" src="/circle-200.png">
	</a>
</div>
<div id="body">
	<a href="/calibration/400">
	<img class="center" src="/circle-400.png">
	</a>
</div>
<div id="body">
	<a href="/calibration/600">
	<img class="center" src="/circle-600.png">
	</a>
</div>
<div id="body">
	<a href="/calibration/800">
	<img class="center" src="/circle-800.png">
	</a>
</div>
