<div id="header">
	<a href="/">
	<img class="center" src="/cats.png">
	</a>
</div>
<div id="body-text">
<%= gram %> g
</div>
<div id="body-text">
<%= raw %> r
</div>
<div id="body" >
	<a href="/">
	<img class="center" src="/circle-get.png">
	</a>
</div>
<div id="body" style="height:400px"></div>
<div id="body" >
	<a href="/calibration">
	<img class="center" src="/circle-calib.png">
	</a>
</div>
