<div id="header">
	<a href="/">
	<img class="center" src="/cats.png">
	</a>
</div>
<div id="body-text">
<%= gram %> g
</div>
<div id="body" >
	<a href="/">
	<img class="center" src="/circle-get.png">
	</a>
</div>
