<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cats drink Water. Don't they?</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<%= yield %>
</body>

</html>
