<div id="header">
	<a href="/">
	<img class="center" src="/cats.png">
	</a>
</div>
<% entries.each do |f| %>
<div id="body-log">
	<a href="/log/<%= f %>" type="text">
	<%= f %>
	</a>
</div>
<% end %>
