body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: Turquoise;
	width: 800px;
}

#header {
	height: 320px;
}

#body {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

#body-text {
	text-align: center;
	font-size: 300%;
	font-style: italic;
	color: #FFFFCC;
	font-family: "Times New Roman", Times, serif;
}

IMG.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
